<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Simonetta:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home_page.css" />
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <img src="../assets/images/remove_bg_ai_17184415864112.png" alt="" class="logo-image"> <!-- Insert Logo image-->
    </div>
    <div class="plantville">
      Plantville
    </div>
    <div class="image-16">
    </div>
    <ul class="menu">
      <li><a href="#">About us</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Sensors</a></li>
    </ul>
    <div class="nav_btn">
      <button> Log out </button>
    </div>
    <div class="bars">
      <i class="ri-menu-line"></i>
    </div>
    <div class="logo2">
      <img src="../assets/images/image_17.png" alt="" class="logo3"> <!-- Insert Logo image-->
    </div>
  </nav>
  <div class="background1">
  </div>
  <div class="container-1">
    <div class="container-11">
      <div class="keep-your-plants">
        KEEP YOUR PLANTS
      </div>
      <span class="with-our-sensor-and-dashboard">
        with our sensor and dashboard
      </span>
      <div class="fresh-safe-sub9">
        Fresh
      </div>
      <div class="fresh-safe1">
        &
      </div>
      <div class="fresh-safe2">
        Safe
      </div>
    </div>
    <div class="background2">
    </div>
    <div class="container-2">
    </div>
    <div class="text-thing">
      <span class="footer-1">
        Welcome to Plantville, your trusted partner in soil management. We are striving for empowering gardeners,
        farmers and agricultural professionals to gain the knowledge and tools to optimize water usage, enhance crop
        quality and promote sustainable practices. With deep understandings in both technology and agriculture, we have
        developed our own advanced soil moisture sensors and monitoring systems that are user-friendly, accurate, and
        affordable.
      </span>
      <span class="about-us">
        About Us
      </span>
    </div>
    <div class="ad">
      <img class="group-7" src="../assets/vectors/group_7_x2.svg" />
      <div class="container-3">
        <p class="how-can-plantville-help-glad-you-asked">
          How can Plantville help? Glad you asked!
        </p>
        <div class="ellipse-6">
        </div>
        <div class="never-underwater-or-overwater-again">
          Never underwater or overwater again!
        </div>
        <span class="monitor-your-soil-moisture-and-notify-you-when-its-time-to-quench-your-plants-thirst">
          Monitor your soil moisture and notify you when it’s time to quench your plant’s thirst </span>
      </div>
      <div class="remove-bg-ai-17184459885721">
      </div>
    </div>
    <div class="review">
      <div class="what-our-plant-fam-has-to-say">
        What our Plant Farm has to say
      </div>
      <div class="group-8">
        <div class="container-120">
          &lt;
        </div>
        <div class="container_rectangle">
          <div class="absolutely-lovin-it-my-plants-arent-dying-because-of-over-watering-anymore">
            Absolutely lovin’ it! My plants aren’t dying because <br />
            of over-watering anymore.
          </div>
          <span class="schneider-m">
            Schneider M.
          </span>
        </div>
        <div class="container-121">
          &gt;
        </div>
      </div>
    </div>
  </div>
</body>

</html>